{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head>

  <title>UCL API Authorise Apps</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  {% render_bundle 'settings' 'css' %}
</head>


<body>

  <script>
    window.initialData = {{ initial_data|safe }};
  </script>
  <div class="app"></div>
  {% render_bundle 'vendors' 'js' %}
  {% render_bundle 'settings' 'js' %}
</body>
</html>
