@import '../includes/helpers';
@import '../components/navbar.scss';
@import '../components/layout.scss';

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5{
	font-family: 'Overpass', sans-serif;
}

.centered {
  text-align: center;
}

body{
  background-color: rgba(234, 237, 241, 1);
}
