@import '../includes/helpers';

$primary-color: #313537;
$secondary-color: #f4f4f4;

body {
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  background: $primary-color;
  color: #ffffff;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  font-weight: lighter;
}

h3 {
  font-size: 20px;
  margin-top: 0px;
  font-weight: lighter;
}

.navbar {
  padding-left: 60px !important;
  padding-right: 60px !important;

  a {
    margin-right: 10px !important;
  }

  img {
    width: 45px;
    padding-right: 10px;
  }

  .active span {
    font-weight: bold !important;
    text-decoration: underline;
  }
}

.intro {
  padding-top: 200px;
  padding-bottom: 200px;
  background: linear-gradient(rgba(67, 67, 67, 0.4), rgba(67, 67, 67, 0.4)), url("/static/logoCover2.png");
  background-size: cover;
  background-position: 50%;
  text-align: center;

  h2 {
    max-width: 900px;
    margin: 20px auto;
  }
}

.goal {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;

  a {
    color: white;
  }
}

.marketplace {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background: linear-gradient(rgba(67, 67, 67, 0.4), rgba(67, 67, 67, 0.4)), url("/static/marketplace_bg.png");
  background-size: cover;
  background-position: 20%;
}

.demo {
  display: flex;
  flex-wrap: wrap;
  min-height: 300px;

  .text {
    color: $primary-color;
    background: white;
    flex: 2 200px;
    padding-right: 15px;
    padding-left: 60px;
    margin-right: auto;
    margin-left: auto;
  }

  .code {
    background: #282A36;
    flex: 3 200px;
    overflow-y: auto;
  }
}

.code hr {
  margin: 0px;
  border: 2px solid white;
}

code {
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
}

.footer {
  background-color: $primary-color;
  padding-top: 60px;
  padding-bottom: 40px;
  color: white;

  .container {
    max-width: 800px;
  }

  h1 {
    font-weight: lighter;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 60px;
  }

  h3 {
    color: #555a72;
    letter-spacing: .15em;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 10px;
  }

  a {
    color: rgba(255,255,255,.65);
    font-size: 18px;
    display: block;
    text-decoration: none;
    margin-bottom: 14px;
  }

  a:hover {
    color: white;
    text-decoration: underline;
  }
}
