@import '../includes/helpers';


body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	color: #333333;
	background: #F4F4F4;
}

h1 {
	font-size: 42px;
	font-weight: bold;
	margin-bottom: 10px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 25px;
	margin-top: 0px;
	font-weight: lighter;
}

.navbar {
	padding-left: 60px !important;

	img {
		width: 45px;
		padding-right: 10px;
	}
}

.jumbotron {
	background-color: #0B3954;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

.demo {
	display: flex;
	flex-wrap: wrap;

	.text {
		background: white;
    flex: 1 200px;
		padding-right: 15px;
	  padding-left: 60px;
	  margin-right: auto;
	  margin-left: auto;
	}

	.code {
		background: #282A36;
    flex: 1 200px;
    height: 100%;
		overflow-y: auto;
	}
}

.examples {
	display: flex;
	flex-wrap: wrap;

	.example {
		flex: 1 200px;
		width: 100%;
		margin: 10px;
	}

}

code {
	font-family: 'Source Code Pro', monospace;
	font-size: 12px;
}
