{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

  <title>UCL API Fairuse Policy Agreement</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
  <div class="pure-g">
    <div class="pure-u-md-1-4"></div>
    <div class="pure-u-1 pure-u-md-1-2 centered">
      <h1>Fair use policy</h1>
      <div class="card flexCentre">
        <form class="pure-form pure-form-stacked" action="/dashboard/" method="post">{% csrf_token %}
          <fieldset>
            <div class="well left">
              {% autoescape off %}
              {% for line in fair_use%}
                {{line}}
              {% endfor %}
              {% endautoescape %}
            </div>
            <input id="remember" name="agreement" value="True" hidden></input>
            <br>
            <button type="submit" class="pure-button pure-button-primary">I Agree</button>
            {% if error%}<p class="error">{{error}}</p>{% endif%}
          </fieldset>
        </form>
      </div>
    </div>
    <div class="pure-u-md-1-4"></div>
  </div>


</body>
</html>
