{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

  <title>UCL API Docs</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

</head>


<body>

	<script>
    window.staticURL = "{% static "" %}";
  </script>
	<div class="app"></div>
  <script src="{% static "js/documentation.js" %}"></script>

</body>
</html>
