{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

  <title>UCL API</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900" rel="stylesheet">

</head>


<body>

  <script>
    window.initialData = {{ initial_data|safe }};
    window.staticURL = "{% static "" %}";
  </script>
  <div class="app"></div>
  {% if WEBPACK_SERVE %}
      <script src="http://localhost:8080/js/getStarted.js"></script>
  {% else %}
    <script src="{% static "js/getStarted.js" %}"></script>
  {% endif %}
  <script src="https://use.fontawesome.com/c70d56d6fc.js"></script>

</body>
</html>
