{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head>

  <title>UCL API</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900" rel="stylesheet">
  {% render_bundle 'HomePage' 'css' %}
</head>


<body>

  <script>
    window.initialData = {{ initial_data|safe }};
  </script>
  <div class="app"></div>
  <script src="https://use.fontawesome.com/c70d56d6fc.js"></script>
  {% render_bundle 'vendors' 'js' %}
  {% render_bundle 'HomePage' 'js' %}
</body>
</html>
