autopep8==1.6.0
boto3==1.26.56
celery==5.2.7
django-celery-beat==2.4.0
ciso8601==2.3.0
cx-Oracle==8.3.0
Django==3.2.13
deepdiff==6.2.3
django-cors-headers==3.13.0
django-dotenv==1.4.2
django-mock-queries==2.1.7
django-storages==1.13.2
djangorestframework==3.14.0
django-postgrespool2==2.0.5
django-filter==22.1
eventlet==0.30.2
freezegun==1.2.2
flake8==5.0.4
gevent==22.10.2
gunicorn==20.1.0
greenlet==2.0.1
hiredis==2.1.1
lxml==4.9.2
parameterized==0.8.1
pycodestyle==2.9.0
psycopg2-binary==2.9.5
python-dateutil==2.8.2
pytz==2022.7.1
sentry-sdk==1.13.0
redis==4.4.2
requests==2.28.2
requests-futures==1.0.0
Sphinx==4.3.0
SQLAlchemy==1.4.46
tqdm==4.64.1
validators==0.20.0
requests-mock==1.10.0
git+https://github.com/uclapi/django-webpack-loader@master#egg=django-webpack-loader
