appdirs==1.4.3
async-timeout==1.2.1
certifi==2017.4.17
chardet==3.0.3
ciso8601==1.0.3
contextlib2==0.5.5
cx-Oracle==5.3
Django==1.11.1
django-cors-headers==2.0.2
django-dotenv==1.4.1
djangorestframework==3.6.3
freezegun==0.3.9
gevent==1.2.1
gunicorn==19.7.1
keen==0.3.31
multidict==2.1.5
opbeat==3.5.2
packaging==16.8
psycopg2==2.7.1
pycryptodome==3.4.6
pyparsing==2.2.0
pytz==2017.2
raven==6.0.0
requests==2.14.2
setproctitle==1.1.10
six==1.10.0
urllib3==1.21.1
yarl==0.10.2
