amqp==2.2.2
billiard==3.5.0.3
boto3==1.6.15
botocore==1.10.8
celery==4.1.0
certifi==2018.1.18
chardet==3.0.4
ciso8601==1.0.7
cx-Oracle==6.2.1
decorator==4.2.1
deepdiff==3.3.0
Django==1.11.11
django-cors-headers==2.2.0
django-dotenv==1.4.2
django-mock-queries==1.0.7
django-storages==1.6.5
djangorestframework==3.7.7
docutils==0.14
eventlet==0.22.1
freezegun==0.3.10
gevent==1.2.2
greenlet==0.4.13
grequests==0.3.0
gunicorn==19.7.1
idna==2.6
jmespath==0.9.3
jsonpickle==0.9.6
keen==0.5.1
kombu==4.1.0
lxml==4.2.1
mock==2.0.0
model-mommy==1.5.1
opbeat==3.6.1
pbr==3.1.1
psycopg2-binary==2.7.4
pycryptodome==3.5.1
python-dateutil==2.7.0
pytz==2018.3
raven==6.6.0
redis==2.10.6
requests==2.18.4
requests-file==1.4.3
s3transfer==0.1.13
setproctitle==1.1.10
six==1.11.0
tldextract==2.2.0
urllib3==1.22
validators==0.12.1
vine==1.1.4
