@import "include-media/dist/_include-media.scss";

$break-small: 780px;
$breakpoints: (
  phone: 768px,
  tablet: 992px,
  desktop: 1200px,
);

$navbar-height: 60px;

/** Color Scheme **/

$primary-color: #296da7;
$primary-highlight-color: #3498db;

$secondary-color: #313537;

$accent-color: #8d6e63;
$highlight-color: #b18453;

$color-black: black;
$color-grey-dark: #313537;
$color-grey-mid: #75797b;
$color-grey-light: #bbb;
$color-grey-lighter: #ccc;
$color-white: white;

$color-red: red;

$color-remove: #ca3c3c;
$color-remove-highlight: rgb(151, 44, 44);

$color-green-market: #03b77b;

$color-black-transparent-0: rgba(0, 0, 0, 0);
$color-black-transparent-02: rgba(0, 0, 0, 0.2);
$color-black-transparent-04: rgba(0, 0, 0, 0.4);
$color-black-transparent-045: rgba(0, 0, 0, 0.45);

$color-white-transparent-0: rgba(255, 255, 255, 0);
$color-white-transparent-0455: rgba(255, 255, 255, 0.455);

$color-facebook: #3b5998;
$color-twitter: #38a1f3;
