@import "./sass/core.scss";

.rc-collapse {
  background: none;
  margin-top: 1rem;

  > .rc-collapse-item {
    background: #313537;

    > .rc-collapse-content {
      padding: 2rem;
      border-top: 1px solid $primary-highlight-color;

      > .rc-collapse-content-box {
        border-top: none;
        margin-bottom: 0;

        > p {
          font-size: 1em;
        }

        > p:first-of-type {
          margin-top: 0;
        }

        > p:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  > .rc-collapse-item + .rc-collapse-item {
    margin-top: 1rem;
  }
}
