@import 'helpers';

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5{
	font-family: 'Roboto', sans-serif;
}

.centered {
  text-align: center;
}

body{
  background-color: rgba(234, 237, 241, 1);
}