// New Classes for use with material-ui
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col {
  flex: 1 200px;
}


.center {
  text-align: center;
}

.pad {
  padding-top: 60px;
  padding-bottom: 60px;
}

// Old helper classes

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin boxShadow($level) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}

@mixin inShadow($level) {
  @if $level == 1 {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
  } @else if $level == 2 {
    box-shadow: inset 0 3px 3px rgba(0, 0, 0, .05)
  } @else if $level == 3 {
    box-shadow: inset 0 10px 10px rgba(0, 0, 0, .05)
  } @else if $level == 4 {
    box-shadow: inset 0 14px 14px rgba(0, 0, 0, .05)
  } @else if $level == 5 {
    box-shadow: inset 0 19px 19px rgba(0, 0, 0, .05)
  }
}

.card {
  background-color: white;
  padding: 15px;
  margin: 10px;
  @include boxShadow(1);
  @include border-radius(2px);
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
  color: white;
}

.flexCentre{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexTopRight {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.padded {
  margin: 5px;
}

.tooltip {
  span {
		display:none;
		color:#fff;
		background:rgba(51,51,51,0.75);
		padding:5px;
		border-radius:4px;
		-moz-border-radius:4px;
		-webkit-border-radius:4px;
		text-align:center;
		position: absolute;
		z-index:10;
  }

  &:hover span {
    display:block;
  }
}

.Modal {
  position: absolute;
  top: 70px;
  left: 5vw;
  right: 5vw;
  height: 200px;
	background-color: #fff;
  outline: none;
  padding: 20px;
  border: solid rgb(204, 204, 204) 1px;
  @include border-radius(5px);

  @media screen and (min-width: 35.5em) {
    left: 15vw;
    right: 15vw;
  }

  @media screen and (min-width: 55em) {
    left: 25vw;
    right: 25vw;
  }

  @media screen and (min-width: 65em) {
    left: 35vw;
    right: 35vw;
  }

}

.Overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.75);
}

.pure-form button[type=button],
.pure-form button[type=submit] {
  margin: .7em 0 0;
}

.roundButton {
  color: white;
  @include border-radius(50%);
  @include boxShadow(3);
  margin: 10px;
  width: 100px;
  height: 100px;
  background-color: #0078e7;
  border: none;
}

.well {
  min-height: 20px;
  padding: 19px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  @include inShadow(1)
}
