@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin boxShadow($level) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  } @else if $level == 4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  } @else if $level == 5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}

.card {
  background-color: white;
  padding: 15px;
  margin: 10px;
  @include boxShadow(1);
  @include border-radius(2px);
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
  color: white;
}

.flexCentre{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexTopRight{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.padded{
  margin: 5px;
}


