@import './helpers';


body {
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  background: #f4f4f4;
  color: #ffffff;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
}

.pcContainer {
  padding-top:60px;

  h1 {
    color: #313537;
    text-align: center;
  }
}

.personContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}

a {
  text-decoration: none;
}

.personCard {
  margin-right: 30px;
  margin-bottom: 30px;
  min-width: 300px;
  width: 30%;

  h1 {
    font-size: 21px;
    margin-top: 20px;
  }

  h2, h3 {
    font-weight: normal;
    font-size: 11px;
  }

  .paper {
    padding: 20px;
    text-align: center;

    img {
      border-radius: 50%;
      width: 200px;
    }
  }
}

.wilContainer {
  background: linear-gradient(rgba(67, 67, 67, 0.3), rgba(67, 67, 67, 0.3)), url("./../images/wil_bg.jpg");
  margin: 0px;
  padding-top: 40px;
  background-size: cover;
  height: 500px;
  color: #313537;
  text-align: right;

  h1 {
    margin-top: 40px;
    font-weight: bold;
  }

  p {
    font-size: 20px;
  }

  .container {
    width: 95%;
  }
}

.navbar {
  padding-left: 60px !important;
  padding-right: 40px !important;
  padding-top: 8px !important;

  img {
    width: 45px;
    padding-right: 10px;
  }

  .active span {
    font-weight: bold !important;
    text-decoration: underline;
  }
}
