@import './common';

.content{
  margin-top: 78px;
  margin-bottom: 30px;
}

$navbarHeight: 60px;

.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  height: $navbarHeight;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  display: flex;
  align-items: center;
  @include boxShadow(1);

  img{
    height: $navbarHeight - 15px;;
    margin-left: 25px;
  }

  .logoText{
    display: inline;
    margin: 10px;
    font-size: 2em;
  }
}
