@import './helpers';

/** Color Scheme **/

$primary-color: #296da7;
$primary-highlight-color: #3498db;

$secondary-color: #313537;

$accent-color: #8D6E63;
$highlight-color: #B18453;

$color-black: #000000;
$color-grey-dark: #313537;
$color-grey-mid: #75797b;
$color-grey-light: #bbbbbb;
$color-grey-light2: #cccccc;
$color-white: #ffffff;

$color-red: #ff0000;

$color-green-market: #03b77b;

$color-black-transparent-0: rgba(0, 0, 0, 0);
$color-black-transparent-02: rgba(0, 0, 0, 0.2);
$color-black-transparent-04: rgba(0, 0, 0, 0.4);
$color-black-transparent-045: rgba(0, 0, 0, 0.45);

$color-white-transparent-0: rgba(255, 255, 255, 0);
$color-white-transparent-0455: rgba(255, 255, 255, 0.455);

$color-facebook: #3b5998;
$color-twitter: #38a1f3;

body {
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #4c555a;
  background: #FFFFFF;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  margin-top: 0px;
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #333333;
}

p {
  font-size: 16px;
  line-height: 26px;
}

.warning {
  font-size: 14px;
  line-height: 26px;
  background-color: #C97A7E;
  padding: 10px;
  border-radius: 8px;
  color: black;
}

.text {
  padding: 20px;
}

.code {
  // background: #282A36;
  background: #2D3134;
  padding: 20px;
  overflow-x: auto;
  font-size: 14px;
}

.tab {
  margin-left: 256px;
  position: fixed;
  top: 60px;
  width: calc(100% - 256px);

  h1 {
    margin-bottom: 0px;
  }
}

.main {
  margin-top: 48px;
  margin-left: 256px;
}

code {
  font-size: 12px;
  font-family: 'Source Code Pro', monospace;
  background-color: rgba(0,0,0,0.05);
}

.table {
  font-size: 14px;

  h1 {
    color: #939da3;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e8ed;
    font-weight: 500;
  }

  .cell {
    border-bottom: 1px solid #f0f4f7;
    padding-top: 8px;
    padding-bottom: 8px;

    .col, .col8, .col4 {
      padding: 10px;
    }

    p {
      line-height: 21px;
      font-size: 14px;
      margin: 0px;
    }

    .attribute {
      text-align: right;
      p {
        margin-bottom: 2px;
      }
    }

    .required {
      color: #ffae54;
      text-transform: uppercase;
      font-size: 10px;
    }

    .optional {
      color: #939da3;
      font-size: 10px;
    }

    .extra {
      color: #939da3;
    }

    code {
      font-size: 10px;
    }
  }
}

.sectionHeader {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 0px;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sidebarLogo {
  img {
    width: 30px;
    margin-right: 10px;
    margin-bottom: -5px;
  }

  vertical-align: middle;
}

/** Code View styling **/

.col {
  max-width: 100%;
}

pre {
  margin: 0;
}

.react-tabs {
  margin-top: 30px;

  ul {
    padding-left: 0;
  }
}

.react-tabs__tab-panel {
  display: flex;
  width: 100%;

  .inner-tab {
    width: 100%;
  }
}

.react-tabs__tab-list li {
  cursor: pointer;
  color: $color-white;
  list-style-type: none;
  margin: 0;
  float: left;
  display: inline-block;
  padding: 10px 2%;
  margin-right: 5px;
  width: 96.1%;
  text-align: left;
  transition-duration: 200ms;
  transition-timing-function: linear;
  transition-property: background-color;
}

.unselected-tab {
  background-color: $primary-highlight-color;
}

.selected-tab {
  background-color: $primary-color;
}

.react-tabs__tab-list li:hover {
  background-color: $primary-color;
}
@media screen and (max-width: 700px) {
  .react-tabs__tab-list li {
    width: 100%;
    text-align: left;
  }
  input {
    width: 96%;
    padding: 20px 2%;
  }
  .arrow {
    display: none;
  }
}