@import './helpers';

/** Color Scheme **/

$primary-color: #296da7;
$primary-highlight-color: #3498db;

$secondary-color: #313537;

$accent-color: #8d6e63;
$highlight-color: #b18453;

$color-black: black;
$color-grey-dark: #313537;
$color-grey-mid: #75797b;
$color-grey-light: #bbb;
$color-grey-light2: #ccc;
$color-white: white;

$color-red: red;

$color-green-market: #03b77b;

$color-black-transparent-0: rgba(0, 0, 0, 0);
$color-black-transparent-02: rgba(0, 0, 0, 0.2);
$color-black-transparent-04: rgba(0, 0, 0, 0.4);
$color-black-transparent-045: rgba(0, 0, 0, 0.45);

$color-white-transparent-0: rgba(255, 255, 255, 0);
$color-white-transparent-0455: rgba(255, 255, 255, 0.455);

$color-facebook: #3b5998;
$color-twitter: #38a1f3;

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background: $color-white;
  color: #4c555a;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0;
}

h2 {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0;
}

p {
  font-size: 16px;
  line-height: 26px;
}

.col {
  flex: 1;
  max-width: 100%;
}

.warning {
  background-color: #c97a7e;
  border-radius: 8px;
  color: black;
  font-size: 14px;
  line-height: 26px;
  padding: 10px;
}

.text {
  padding: 20px;
}

.code {
  // background: #282A36;
  background: #2d3134;
  font-size: 14px;
  overflow-x: auto;
  padding: 20px;
}

.tab {
  margin-left: 256px;
  position: fixed;
  top: 60px;
  width: calc(100% - 256px);

  h1 {
    margin-bottom: 0;
  }
}

.main {
  box-sizing: border-box;
  margin-top: 60px;
  overflow-x: hidden;
  padding: 2rem;

  @media screen and (min-width: 1130px) {
    margin-left: 256px;
  }

  h1,
  h2 {
    margin-top: -80px;
    padding-top: 80px;
  }
}

code {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
}

.table {
  font-size: 14px;

  h1 {
    border-bottom: 1px solid #e1e8ed;
    color: #939da3;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 0;
    text-transform: uppercase;
  }

  .cell {
    border-bottom: 1px solid #f0f4f7;
    padding-bottom: 8px;
    padding-top: 8px;

    .col,
    .col8,
    .col4 {
      padding: 10px;
    }

    p {
      font-size: 14px;
      line-height: 21px;
      margin: 0;
    }

    .attribute {
      text-align: right;

      p {
        margin-bottom: 2px;
      }
    }

    .required {
      color: #ffae54;
      font-size: 10px;
      text-transform: uppercase;
    }

    .optional {
      color: #939da3;
      font-size: 10px;
    }

    .extra {
      color: #939da3;
    }

    code {
      font-size: 10px;
    }
  }
}

.section-header {
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

.sidebar-logo {
  vertical-align: middle;

  img {
    margin-bottom: -5px;
    margin-right: 10px;
    width: 30px;
  }
}

/** Code View styling **/

pre {
  margin: 0;
}

.react-tabs {
  margin-top: 30px;

  ul {
    padding-left: 0;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.react-tabs__tab-panel {
  display: flex;
  width: 100%;

  .inner-tab {
    width: 100%;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.react-tabs__tab-list {
  width: 100%;

  li {
    color: $color-white;
    cursor: pointer;
    display: inline-block;
    float: left;
    list-style-type: none;
    margin: 0;
    margin-right: 5px;
    padding: 10px 2%;
    text-align: left;
    transition-duration: 200ms;
    transition-property: background-color;
    transition-timing-function: linear;
    width: 96%;
  }
}

.unselected-tab {
  background-color: $primary-highlight-color;
}

.selected-tab {
  background-color: $primary-color;
}

/* stylelint-disable-next-line selector-class-pattern */
.react-tabs__tab-list li:hover {
  background-color: $primary-color;
}

@media screen and (max-width: 700px) {
  /* stylelint-disable-next-line selector-class-pattern */
  .react-tabs__tab-list li {
    text-align: left;
  }

  input {
    padding: 20px 2%;
    width: 96%;
  }

  .arrow {
    display: none;
  }
}

/** Buttons **/

.uclapi-button {
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 $color-black-transparent-02;
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
  width: fit-content;
}

.default-button {
  background-color: $color-grey-dark;
  color: $color-white;
}

.default-button:hover { background-color: $color-grey-mid; }

/** Sizing **/

.mobile,
.tablet,
.default {
  display: none;
}

@media screen and (min-width: 1130px) {
  .default {
    display: block;
  }
}

@media screen and (max-width: 1130px) and (min-width: 700px) {
  .tablet {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .mobile {
    display: block;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col4 {
  flex: 4;
}

.col8 {
  flex: 8;
}
