@import './helpers';

$primary-color: #313537;
$secondary-color: #f4f4f4;
$accent-color: #8D6E63;
$highlight-color: #B18453;

body {
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  background: $primary-color;
  color: #ffffff;
}

h1 {
  font-size: 42px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  max-width: 900px;
  margin: 20px auto;
  font-weight: 400;
}

h3 {
  font-size: 20px;
  max-width: 1000px;
  margin: 20px auto;
  font-weight: 400;
}

.intro {
  padding-top: 200px;
  padding-bottom: 200px;
  background: linear-gradient(rgba(67, 67, 67, 0.4), rgba(67, 67, 67, 0.4)), url("/static/logoCover2.png");
  background-size: cover;
  background-position: 50%;
  text-align: center;

  a {
    margin-right: 20px;
  }
}

.goal {
  // background: $accent-color;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;

  a {
    color: white;
  }
}

.marketplace {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  // background: linear-gradient(rgba(67, 67, 67, 0.4), rgba(67, 67, 67, 0.4)), url("/static/marketplace_bg.png");
  // background-size: cover;
  background: linear-gradient(rgba(67, 67, 67, 0.6), rgba(67, 67, 67, 0.6)), #11B57A url("/static/lineUCL.svg");
  background-size: auto 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  // background-position: 20%;
}

.demo {
  display: flex;
  flex-wrap: wrap;
  min-height: 300px;

  .text {
    h2 {
      font-weight: lighter;
      font-size: 36px;
    }

    color: $primary-color;
    background: white;
    // background: #D7CCC8;
    flex: 2 200px;
    padding-right: 15px;
    padding-left: 60px;
    margin-right: auto;
    margin-left: auto;
  }

  .code {
    background: #282A36;
    flex: 3 200px;
    overflow-y: auto;

    hr {
      margin: 0px;
      border: 2px solid white;
    }
  }
}

code {
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
}

.blog {
  padding-top: 60px;
  padding-bottom: 40px;

  h1 a {
    color: $highlight-color;
  }

  .container > a {
    text-decoration: none;
    display: block;
    font-weight: lighter;
    margin-top: 0px;
    margin-bottom: 60px;
    color: white;
    font-size: 36px;
    margin: 40px auto;
  }

  a:hover {
    color: $highlight-color;
    text-decoration: underline;
  }
}

.apis {
  padding-top: 60px;
  padding-bottom: 40px;
  background: $accent-color;
  text-align: center;

  h1 {
    color: white;
  }

  p {
    font-size: 18px;
    color: $accent-color;
  }

  .apiContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .api {
    min-width: 400px;
    margin: 10px;
    width: 30%;

    a {
      text-decoration: none;
      display: block;
      height: 100%;
    }

    h1 {
      color: $primary-color;
      font-weight: 400;
    }

    .apiPaper {
      height: 100%;
      padding: 20px;
    }
  }
}
