@import './helpers';

$primary-color: #0b3954;
$secondary-color: #f4f4f4;
$tertiary-color: #454545;


body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  color: #333333;
  background: #F4F4F4;
}

h1 {
  font-size: 36px;
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  font-weight: lighter;
}

.intro {
  padding-top: 80px;
  padding-bottom: 20px;
  background-size: cover;
  background-position: 50%;
  color: white;

  h1 {
    font-size: 68px;
    font-weight: 300;
  }

  p {
    font-size: 26px;
    opacity: 0.5;
    font-weight: 300;
  }
}

.featuredApps {
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;

  .col4 {
    display: table-cell;
    margin-right: 20px;
    margin-left: 20px;
  }

  a {
    text-decoration: none;
  }

  a > .featuredApp {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;

    img {
      width: 100px;
    }

    h1 {
      font-weight: 400;
      font-size: 26px;
      margin: 0;
      padding-top: 20px;
    }

    p {
      opacity: 1;
      max-width: 300px;
      margin: 6px auto;
      font-weight: 300;
      font-size: 14px;
    }
  }
}

.categoryList {
  padding-top: 40px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 24px 12px 24px;
    border-radius: 20px;
    display: inline;
    margin-right: 20px;
    box-shadow: 0 7px 14px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.08);
  }

  a:hover {
    transform: translateY(-1px);
  }
}

.categories {

  .category {
    margin: 20px;
    margin-bottom: 40px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 30px;
    padding-bottom: 10px;

    h1 {
      margin: 0;
      font-weight: 700;
      padding-bottom: 10px;
      font-size: 26px;
    }

    h2 {
      color: #586069;
      margin-top: 0px;
      font-size: 20px;
      font-weight: 400;
    }
  }

}

.apps {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
}

.app {
  margin-right: 10px;
  margin-bottom: 14px;
  min-width: 100px;
  width: 32%;
}

.appPage {

  .header {
    h2 {
      font-weight: 400;

      a {
        font-weight: 600;
        color: #0576b9;
      }
    }

    padding-top: 20px;
    padding-bottom: 20px;

    a {
      text-decoration: none;
    }
  }

  .paper {
    padding: 40px;
    margin-bottom: 20px;
  }

  .col3 {
    padding-right: 20px;
  }

  .col9 {
    padding-left: 20px;
  }

  .left {

    img {
      display: block;
      width: 100%;
      margin-bottom: 20px;
    }

    .btn {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .right {
    h1 {
      font-weight: 600;
    }

    .imgWrapper {
      display: flex;
      flex-wrap: wrap;
    }

    img {
      width: 45%;
      height: 40%;
      margin: 0 auto;
      display: block;
      margin-bottom: 40px;
    }

    p {
      font-size: 20px;
      margin-bottom: 40px;
    }
  }
}
