@import './helpers';

$navbarHeight: 80px;

.navbar-extras {
  .link-titles-menu {
    z-index: 2;
    position: fixed;
    overflow: hidden;
    width: 100%;
    background-color: #313537;
    top: 80px;
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: 0.7s;

    .link-to-page {
      width: 100%;
    }
  }
}
.navbarconsistent {
  z-index: 2;
  position: fixed;
  background-color: #49b287;
  height: $navbarHeight;
  width: 100%;
  top: 0;

  display: flex;
  align-items: center;

  transition-property: top;
  transition-duration: 0.2s;
  transition-timing-function: linear;

  img {
    height: $navbarHeight - 15px;;
    margin-left: 25px;
  }
  .logoTextWhite {
  	color: #FFF;
  	display: inline;
    margin: 10px;
    font-size: 2em;
  }
  .menu-icon {
    img {
      margin-top: 7px;
    }
  }
}
.bounce-image {
    float: left;
    display: inline-block;
    width: 16px;
    height: 16px;
    transition-property: margin-top;
    transition-timing-function: linear;
    transition-duration: 0.2s;
}
.link-to-page { 
    display: flex;
    float: right;
    height: 60px;
    top: 10px;
    margin: 5px 20px 5px 0;
    line-height: 100%;
    border: solid;
    border-color: white;
    border-width: 0 0 0 5px;
    transition-duration: 200ms;
    transition-property: border-width;
    transition-timing-function: linear;
    cursor: pointer;
}
.link-to-page:hover {
    border-width: 0 0 0 10px;
}
.link-to-page h1 {
    padding-left: 20px;
    margin: 0;
    font-size: 1em;
    font-weight: normal;
}
.link-to-page a {
    display: inline-block;
    float: left;
    text-decoration: none;
    color: #FFFFFF;
    transition-property: color;
    transition-duration: 0.2s;
    padding-left: 15px;
    transition-timing-function: linear;
    height: 20px;
    top: 25px;
    position: relative;
}
.link-titles {
  right: 20px;
  position: absolute;
  height: 80px;
}