@import './helpers';

$navbar-height: 60px;

.navbar-extras {
  .link-titles-menu {
    background-color: #313537;
    box-shadow: 0 0 10px #555;
    overflow: hidden;
    position: fixed;
    top: 60px;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-out;
    width: 100vw;
    z-index: 1301;

    .link-to-page {
      width: 100%;
    }
  }
}

.navbarconsistent {
  @include box-shadow(1);

  align-items: center;
  background-color: #313537;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  display: flex;
  height: $navbar-height;
  position: fixed;
  top: 0;
  transition-duration: 0.2s;
  transition-property: top;
  transition-timing-function: linear;
  width: 100vw;
  z-index: 1302;

  img {
    height: $navbar-height - 15px;
    margin-left: 25px;
  }

  .logo-text-white {
    color: white;
    display: inline;
    font-size: 2em;
    margin: 10px;
  }

  .menu-icon {
    background-color: none;
    border-radius: 25px;
    height: 50px;
    padding: 5px;
    transition-duration: 0.2s;
    transition-property: background-color;
    transition-timing-function: linear;
    width: 50px;

    img {
      height: 40px;
      margin-left: 5px;
      margin-top: 5px;
    }
  }

  .menu-icon:active {
    background-color: #fff2;
  }
}

.bounce-image {
  display: inline-block;
  float: left;
  height: 16px;
  margin-right: 16px;
  transition-duration: 0.15s;
  transition-property: margin-right;
  transition-timing-function: linear;
  width: 16px;
}

.link-to-page {
  display: inline-block;
  float: right;
  height: 16px;
  padding: 20px 5px 0;

  img {
    height: 16px;
    margin: 0;
    width: 16px;
  }
}

.link-to-page h1 {
  border: solid;
  border-color: white;
  border-width: 0 0 0 1px;
  color: white;
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  padding: 0 20px;
  text-shadow: unset;
  transition-duration: 0.2s;
  transition-property: border-width;
  transition-timing-function: linear;
}

.link-to-page a {
  display: inline-block;
  float: left;
  text-decoration: none;
}

.link-to-page h1:hover {
  border-width: 0 0 0 5px;
}

.link-titles {
  height: 60px;
  position: absolute;
  right: 50px;
}
