.screenshot-holder {
  > .carousel-root {
    > .carousel-slider {
      > ul.control-dots {
        > li.dot {
          border: 1px solid black;
          box-shadow: none;
        }
      }

      > p.carousel-status {
        text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
      }
    }
  }
}
