.mobile,
.tablet,
.default {
  display: none;
}

.default {
  .menu-container {
    margin-top: 61px;
    width: 256px;
    overflow: auto;
  }

  .mobile.tablet {
    .hamburger-button {
      left: 2px;
      padding: 15px 20px;
      top: 62px;
      position: fixed;
      border-radius: 50px;
      cursor: pointer;
      margin: 0;
    }
  }
}

@media screen and (min-width: 1130px) {
  .default {
    display: block;
  }
}

@media screen and (max-width: 1130px) and (min-width: 700px) {
  .tablet {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .mobile {
    display: block;
  }
}
