@import "@/styles/sass/core.scss";

.uclapiButton {
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 $color-black-transparent-02;
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
  width: fit-content;
  cursor: pointer;
}
