/**
	UCL API WEBSITE STYLES 
	As of July 2019

	Hopefully these stylings bring together
	the amazing work of previous developers
	and make it so that the horrendous task
	of interacting with css is removed.

	Table of contents:

	- Setup
	- Color Scheme
	- Sizings
	- Text
	- Alignments
	- Containers
	- Buttons
	- Transitions
	- Cards
	- Code Segments
	- RC-Collapse

**/

/** Setup **/

$break-small: 780px;

html, button, input, select, textarea {
	font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  background-color: white;
}

/** Color Scheme **/

$primary-color: #313537;
$secondary-color: #f4f4f4;
$accent-color: #8D6E63;
$highlight-color: #B18453;

$grey: #d9d9d9;
$light-grey: #f7f7f7;
$light-grey-2: #f3f3f3;
$dark-grey: #666;
$medium-grey: #999;
$white: #fff;

.dark-grey {
	background-color: #313537;
}

.ucl-orange {
	background-color: #FC9685;
}

.maroon {
	background-color: #8d6e63;
}

.warning-red {
	background-color: red;
}

.market-green {
	background-color: #03B77B;
}

.code-grey {
	background-color: #282B2E;
}

/** Text **/

h1, h2, h3, h4, h5{
	margin-top: 0;
	font-family: 'Roboto', sans-serif;
	color: white;
}

h1 {
	font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0;
}

.justified-text {
  text-align: justify;
}

.centered-text {
	text-align: center;
}

a{ color: white; text-decoration-color: white; }
a:hover { color: #BBBBBB; }

.alt-text { color: #313537; text-decoration-color: #313537; }
.alt-text:hover { color: #75797B; }

/** Alignments **/

.full-screen {
	height: 100%;
}

.center-x {
	position: relative;
	margin: auto;
}

.center-items {
    display: flow-root;
}

.vertical-align-buddy {
	width: inherit;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/** Sizing **/

.small-size {
	min-width: 280px
}
.medium-size {
	min-width: 400px;
}

/** Containers **/

.row {
	width: 100%;
    position: relative;
	height: auto;
	min-height: 100% !important;
}

.vertical-padding-top { padding-top: 50px; }
.vertical-padding-bottom { padding-bottom: 50px; }

/** Buttons **/

.uclapi-button {
	padding: 10px 20px;
	margin: 10px;
	border-radius: 2px;
	width: fit-content;
	display: inline-block;
	text-decoration: none;
}

.default-button { background-color: #313537; color: white; }
.default-button:hover, .uclapi-card-clicked-default:hover { background-color: #75797B;  }

.alternate-button { background-color: #FFFFFF; color: black; }
.alternate-button:hover, .uclapi-card-clicked-alternate:hover { background-color: #CCCCCC;  }

.emphasis-button { background-color: #FC9685; color: black; }
.emphasis-button:hover, .uclapi-card-clicked-emphasis:hover { background-color: #C95241;  }

/** Transitions **/

.default-transition {
	transition-duration: 200ms;
	transition-timing-function: linear;
}
.background-color-transition { transition-property: background-color; }
.color-transition { transition-property: color; }

/** Cards **/

.uclapi-card {
	display: inline-flex;
	border-radius: 5px;
	height: 200px;
	padding: 10px;
	margin: 20px;
}

.uclapi-card-default {
	background-color: #313537;
}

.uclapi-card-wrap-around {
	display: flex;
    float: left;
	background-color: #00000000;
	margin: 0;
	padding: 0;
}

.uclapi-card-alternate {
	background-color: #FFFFFF; 
}

.uclapi-card-emphasis {
	background-color: #FC9685; 
}

.clickable {
	text-decoration: none;
	cursor: pointer;
}

/** Update cards and columns when the size approaches phone screen size **/
@media only screen and (max-width: 540px) {
	.mobile-friendly {
		min-width: 90%;
		padding: 0;
	}
}

/** Code Segments **/

/** RC Collapse **/

.rc-collapse {
  background-color: $light-grey;
  border: 1px solid $grey;
  border-radius: 3px;
  color: $primary-color;
  font-size: 28px;
  @media screen and (max-width: $break-small) {
    font-size: 18px;
  }

  > .rc-collapse-item {
    border-top: 1px solid $grey;

    > .rc-collapse-header {
      color: $dark-grey;
      cursor: pointer;
      line-height: 38px;
      text-indent: 0px;
      outline: 0;
      padding: 10px 0 10px 16px;

      .arrow {
        border-bottom: 3px solid transparent;
        border-left: 4px solid $dark-grey;
        border-top: 3px solid transparent;
        content: '\20';
        display: inline-block;
        font-size: 0;
        height: 0;
        line-height: 0;
        margin-right: 8px;
        vertical-align: middle;
        width: 0;
      }
    }
  }

  > .rc-collapse-item:first-child {
    border-top: 0;
  }

  > .rc-collapse-item-disabled > .rc-collapse-header {
    background-color: $light-grey-2;
    color: $medium-grey;
    cursor: not-allowed;
  }

  > .rc-collapse-item-active > .rc-collapse-header .arrow {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid $dark-grey;
    margin-right: 6px;
  }

}

.rc-collapse-anim-active {
  transition: height .2s ease-out;
}


.rc-collapse-content {
    border-top: solid 1px #CCC;
    color: #666;
    font-size: 20px;
    overflow: hidden;
    padding: 0 16px;

  > .rc-collapse-content-box {
    margin-bottom: 16px;
    margin-top: 16px;
  }
}


.rc-collapse-content-inactive {
  display: none;
}

.rc-collapse-item:last-child > .rc-collapse-content {
  border-radius: 0 0 3px 3px;
}