/**
	UCL API WEBSITE STYLES 
	As of July 2019

	Hopefully these stylings bring together
	the amazing work of previous developers
	and make it so that the horrendous task
	of interacting with css is removed.

	Table of contents:

	- Setup
	- Color Scheme
	- Text
	- Alignments
	- Containers

**/

/** Setup **/

html, button, input, select, textarea {
	font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  background-color: white;
}

/** Color Scheme **/

.dark-grey {
	background-color: #313537;
}

.ucl-green {
	background-color: #49b287;
}

.maroon {
	background-color: #8d6e63;
}

/** Text **/

h1, h2, h3, h4, h5{
	font-family: 'Roboto', sans-serif;
	color: white;
}

h1 {
	font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 0;
}

.justified-text {
  text-align: center;
}

/** Alignments **/

.full-screen {
	height: 100%;
}

.center-x {
	position: relative;
	margin: auto;
}

.vertical-align-buddy {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/** Containers **/

.row {
	width: 100%;
}

.vertical-padding {
	padding: 200px 0 200px 0;
}