# Production overlay Docker Compose
version: "3.7" 

services:
  shibpostgres:
    image: 236848092535.dkr.ecr.eu-west-2.amazonaws.com/uclapi-prod-shibpostgres:latest
    deploy:
      replicas: 1
      update_config:
        parallelism: 1
      restart_policy:
        condition: on-failure
  nginx-shib:
    image: 236848092535.dkr.ecr.eu-west-2.amazonaws.com/uclapi-prod-nginx-shib:latest
    build:
      args:
        ENVIRONMENT: production
    deploy:
      replicas: 2
      update_config:
        parallelism: 1
      restart_policy:
        condition: on-failure

  uclapi:
    image: 236848092535.dkr.ecr.eu-west-2.amazonaws.com/uclapi-prod-uclapi:latest
    build:
      args:
        ENVIRONMENT: production
    deploy:
      replicas: 3
      update_config:
        parallelism: 1
      restart_policy:
        condition: on-failure