name: CI/CD

on:
  push

jobs:
  build-frontend:
    name: build and test frontend
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v2

      - name: setup nodejs
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: setup frontend dependencies
        run: |
          cp ./backend/uclapi/webpack-stats.sample.json ./backend/uclapi/static/webpack-stats.json && \
          cd ./frontend/ && \
          npm ci

      - name: build frontend
        run: |
          cd ./frontend && \
          npm run build

      # TODO: write frontend tests

  build-backend:
    name: build and test backend
    runs-on: ubuntu-latest
    environment: Staging
    needs: build-frontend
    services:
      redis:
        image: redis
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      postgres:
        image: postgres
        env:
          POSTGRES_USER: uclapi
          POSTGRES_PASSWORD: supersecure
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'

      - name: checkout code
        uses: actions/checkout@v2

      - name: setup oracle
        run: ./.github/workflows/scripts/setup-oracle.sh

      - name: setup python dependencies
        run: |
          python -m pip install --upgrade pip && \
          cd ./backend/uclapi && \
          pip install codecov && \
          pip install -r requirements.txt && \
          pip install $(cat requirements.txt | grep "cx-Oracle")
      
      - name: run migrations
        env: # Or as an environment variable
          DB_UCLAPI_HOST: localhost
          DB_UCLAPI_USERNAME: uclapi
          DB_UCLAPI_PASSWORD: supersecure
          DB_UCLAPI_PORT: 5432
          OCCUPEYE_BASE_URL: ${{ secrets.OCCUPEYE_BASE_URL }}
          OCCUPEYE_DEPLOYMENT_ID: ${{ secrets.OCCUPEYE_DEPLOYMENT_ID }}
          OCCUPEYE_DEPLOYMENT_NAME: ${{ secrets.OCCUPEYE_DEPLOYMENT_NAME }}
          OCCUPEYE_PASSWORD: ${{ secrets.OCCUPEYE_PASSWORD }}
          OCCUPEYE_THREAD_LIMIT: ${{ secrets.OCCUPEYE_THREAD_LIMIT }}
          OCCUPEYE_USERNAME: ${{ secrets.OCCUPEYE_USERNAME }}
          REDIS_UCLAPI_HOST: ${{ secrets.REDIS_UCLAPI_HOST }}
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          SHIB_TEST_USER: ${{ secrets.SHIB_TEST_USER }}
          UCLAPI_PRODUCTION: False
          UCLAPI_RUNNING_ON_AWS_ELB: False
        run: |
          cd ./backend/uclapi && \
          python ./manage.py migrate

      - name: run our tests and check test coverage
        run: |
          coverage run --source='.' --omit='*migrations*' manage.py test --testrunner && \
          'uclapi.custom_test_runner.NoDbTestRunner' --settings=uclapi.settings_mocked && \
          codecov
